/* ======================================= */
/* 1. HEADER */
/* ======================================= */

.main-header {
    border-bottom: 1px solid var(--light-border);
}

.header-container {
    max-width: 1440px; 
    margin: 0 auto;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

/* Logo */
.header-logo {
    margin-right: 20px;
}

.logo-link {
    display: flex;
    align-items: center;
    gap: 8px; /* khoảng cách giữa ảnh và text */
    text-decoration: none;
}

.logo-img {
    width: 50px;
    height: auto;
}

.logo-text {
    font-size: 1.4rem;
    font-weight: bold;
    color: #e60012;
}




/* Navigation */
.main-nav {
    flex-grow: 1;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.nav-item {
    text-align: center;
    padding: 0 10px;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    font-size: 12px;
    color: var(--dark-text);
    transition: color 0.2s;
}

.nav-link:hover {
    color: var(--primary-red);
}

.nav-icon {
    width: 30px;
    height: 30px;
    background-color: var(--gray-bg); 
    border-radius: 5px;
    margin-bottom: 4px;
}

/* Actions */
.header-actions {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 14px;
}

.login-btn {
    border: 1px solid var(--light-border);
    padding: 5px 10px;
    border-radius: 4px;
}

.active
{
    color:#c4000c;
}

/* .navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 15px; 
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.navbar-nav .nav-link {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
} */
