/* ======================================= */
/* 3. SIDEBAR (Thanh bên) - Tối ưu hóa cho HTML */
/* ======================================= */

/* Đảm bảo .main-sidebar lấp đầy 100% không gian của .col-md-3 */
/* .main-sidebar {
    background-color: var(--light-text);
    border: 1px solid var(--light-border);
    width: 100%; 
}

.sidebar-nav {
    border-bottom: 1px solid var(--light-border);
}

.sidebar-nav .active {
    background-color: var(--primary-red);
    color: var(--light-text);
    font-weight: bold;
    display: block; 
} */