/* ======================================= */
/* 2. SIDEBAR */
/* ======================================= */

.main-sidebar {
    border: 1px solid #edecec;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.home-button {
    display: block;
    color: #757575;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 15px;
        /* transition: 0.3s; */
}

.home-button:hover {
    border: 1px solid red;
    border-radius: 5px;
    color:red;
}


    .home-button.active {
        background-color: red;
        color: #fff;
    }


    .sidebar-nav a {
        display: block;
        padding: 10px 15px;
        color: #000;
        text-decoration: none;
        transition: 0.3s;
    }

    .sidebar-nav a.active {
        background-color: red;
        color: #fff;
    }




.card-sales
{
   box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}